
<div class="col-xs-9">
<div class="index-box">
    <h2 class="search-title">すべての記事一覧</h2>
     <%= link_to '新着順',blogs_path %>|<%= link_to '古い順',blogs_old_path %>

<%= render 'blogs/index' %>
</div>
</div>

<%= render 'layouts/blogside' %>