<%= render 'layouts/header' %>
<div class="col-xs-9">
    <h2><%= @user.name %>さんの記事一覧</h2>
    <table class="table table-hover table-inverse">
        <thead>
            <tr>
                <th class="col-xs-2 th1">ユーザー名</th>
                <th class="ol-xs-3 th2">タイトル</th>
                <th class="ol-xs-3 th3">記事内容</th>
                <th class="ol-xs-3 th4">画像</th>
                <th class="ol-xs-3 th5">コメント</th>
                <th class="ol-xs-3 th6">いいね</th>
                <th class="ol-xs-3 th6">ボドゲ名</th>
            </tr>
        </thead>
        <%= render 'blogs/index' %>
    </table>
</div>

<%= render 'layouts/blogside' %>