<%= render 'layouts/header' %>


<h1 class="about-title">ようこそBoardeedへ</h1>

<h2>Boardeedとは</h2>

<p>Boardeedでは、ボードゲームのプレイ記事を投稿したり<br>
    プレイ記事の閲覧ができるサイトです。
</p>

<h2>記事を書く</h2>

<p>
あなたがプレイしたボードゲームについて、<br>
感想や評価を自由に投稿することができます。<br>
使い方は簡単！プレイしたボードゲームを選択し、<br>
自由に記述するだけ！<br>
投稿にはマークダウン記法が使用できます。
</p>

<h2>記事を見る</h2>

<p>
他の人が投稿したプレイ記事について<br>
自由に検索・閲覧が可能です。<br>
検索には、フリーワードでの検索、<br>
タグ検索、条件検索が可能です。
</p>

<%= render 'layouts/footer' %>