
<div class="container">

  <div class="fix-box box1"><h1>Welcome to Boadeed！</h1></div>

    <div class="scloll-box">
      <div class="row">
        <div class="content">
          <div class="pull-middle">
            <div class="col-md-6 col-md-offset-1">
              <h1>Boadeedへようこそ！</h1>
              <p class="lead">
                このサイトは、ボードゲームに特化したブログ投稿サイトです。<br>
              </p>
              <small>※会員でない方も記事の閲覧はできますが、投稿にはログインが必要となります。</small>
            </div>
            <div class="col-md-5">
              <%= image_tag asset_path("dice-5363809_1920.jpg"), class: "header-image"%>
              </div>
          </div>
        </div>
      </div>
    </div>

  <div class="fix-box box2"><h1>Boardeedとは</h1></div>

  <div class="scloll-box">
      <div class="row">
        <div class="content">
          <div class="pull-middle">
            <div class="col-md-6 col-md-offset-1">
              <p class="lead">
                Boardeedは、<br>
                誰でも気軽にボードゲームのプレイ記事を投稿したり<br>
                プレイ記事の閲覧ができるサイトです。
              </p>
            </div>
            <!--/サイト内のスクショに変える-->
            <div class="col-md-5">
              <%= image_tag asset_path("backgammon-3084639_1920.jpg"), class: "header-image"%>
              </div>
          </div>
        </div>
      </div>
    </div>

  <div class="fix-box box3"><h1>記事を書く</h1></div>

  <div class="scloll-box">
      <div class="row">
        <div class="content">
          <div class="pull-middle">
            <div class="col-md-6 col-md-offset-1">
              <p class="lead">
                あなたがプレイしたボードゲームについて、<br>
                感想や評価を自由に投稿することができます。<br>
                使い方は簡単！プレイしたボードゲームを選択し、<br>
                自由に記述するだけ！<br>
              </p>
              <small>投稿にはマークダウン記法が使用できます。</small>
            </div>
            <!--/サイト内のスクショに変える-->
            <div class="col-md-5">
              <%= image_tag asset_path("black-and-white-2558362_1920.jpg"), class: "header-image"%>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fix-box box4"><h1>記事を見る</h1></div>

    <div class="scloll-box">
      <div class="row">
        <div class="content">
          <div class="pull-middle">
            <div class="col-md-6 col-md-offset-1">
              <p class="lead">
                他の人が投稿したプレイ記事について<br>
                自由に検索・閲覧が可能です。<br>
                検索には、フリーワードでの検索、<br>
                タグ検索、条件検索が可能です。<br>
              </p>
            </div>
            <!--/サイト内のスクショに変える-->
            <div class="col-md-5">
              <%= image_tag asset_path("scrabble-4342738_1920.jpg"), class: "header-image"%>
              </div>
          </div>
        </div>
      </div>
    </div>

  
</div>
