// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mypage-edit{
  background: #d6daff;
  box-shadow: 0px 0px 0px 5px #d6daff;
  border: dashed 1px #aa86fd;
  padding: 0.2em 0.5em;
  color: #454545;
  width: 30%;
  text-align: center;
}